<module>
  <rawname>tnetc</rawname>
  <name>Time Conditions TNE</name>
  <version>6.2.0</version>
  <type>setup</type>
  <category>Applications</category>
  <publisher>TelNowEdge</publisher>
  <license>Apache-2.0</license>
  <depends>
    <module>core</module>
    <module>timeconditions</module>
    <module>calendar</module>
  </depends>
  <changelog>
    *6.2.0: Domain are now supported.
    *6.2.0: Domain are now supported.
    *6.2.0: Domain are now supported.
    *6.1.0:  New migration. New stable version.
  </changelog>
  <description>

  </description>
  <menuitems>
    <tnetc>Time Conditions</tnetc>
  </menuitems>
  <location></location>
  <md5sum></md5sum>
</module>
