<module>
  <rawname>tnetc</rawname>
  <name>Time Conditions</name>
  <version>6.1.0</version>
  <type>setup</type>
  <category>Applications</category>
  <publisher>TelNowEdge</publisher>
  <license>Apache-2.0</license>
  <depends>
    <module>core</module>
    <module>tnehook</module>
    <module>timeconditions</module>
    <module>calendar</module>
  </depends>
 <changelog>
    *6.1.0:  New migration et passage Version 6.1.x de TNE
  </changelog>
  <description>

  </description>
  <menuitems>
    <tnetc>Time Conditions</tnetc>
  </menuitems>
  <location></location>
  <md5sum></md5sum>
</module>
