<div id="toolbar-all">
  <a href="config.php?display=tnetc" class="btn btn-primary"><i class="fa fa-list"></i> {{ 'Lists' | fpbxtrans }}</a>
  <a href="config.php?display=tnetc&amp;action=add" class="btn btn-primary"><i class="fa fa-plus"></i> {{ 'Add' | fpbxtrans }}</a>
</div>

<table
  data-url="ajax.php?module=tnetc&amp;command=getTimeConditions"
  data-cache="false"
  data-show-refresh="false"
  data-toolbar="#rnav-tnetc-toolbar"
  data-cookie="true"
  data-cookie-id-table="rnav-tnetc-table"
  data-maintain-selected="true"
  data-show-columns="false"
  data-show-toggle="false"
  data-toggle="table"
  data-pagination="false"
  data-search="true"
  class="bootstrap-table table table-striped ext-list"
  id="rnav-table-tnetc"
>
  <thead>
    <tr>
      <th data-formatter="linkTneTc" data-sortable="true" data-field="name">{{ 'Name' | fpbxtrans }}</th>
    </tr>
  </thead>
</table>

<script type="text/javascript">
 function linkTneTc(value, row, index, field) {
   return $('<div />')
     .append(
       $('<a />', {
         href: `config.php?display=tnetc&id=${row.id}`,
         text: value
       })
     ).html()
   ;
 }
</script>
