.tne-add {
    margin-left: 10%;
    margin-bottom: 10px;
}

#time_condition_timeConditionBlocks > .element-container {
    cursor: move;
    border: 2px solid grey;
}

#time_condition_timeConditionBlocks > .element-container:not(:nth-child(0n+1)) {
    margin-top: 10px;
}
